---
import { getCollection } from "astro:content";
import Layout from "@layout";
import Header from "@organisms/header.astro";
import Footer from "@organisms/footer.astro";
import LinkButton from "@atoms/link-button.astro";
import Hr from "@atoms/hr.astro";
import Card from "@molecules/card";
import Socials from "@molecules/socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1 class="mr-2">Tutoriais, tecnologia e sistemas!</h1>
      <p>
        Espaço criado para compartilhar tutoriais e conhecimento sobre sistemas de informação, desenvolvimento web, programação, arquitetura de softwares, projetos e muitos outros assuntos sobre a ampla área de tecnologia de informação e comunicação!
      </p>
      <p>
        <LinkButton
        className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
        href="/sobre"
        >
        Saiba mais sobre o autor
      </LinkButton> por trás dos artigos.
    </p>
    <!-- {
      // only display if at least one social link is enabled
      socialCount > 0 && (
        <div class="social-wrapper">
          <div class="social-links">Acesse minhas redes:</div>
          <Socials />
          </div>
          )
        } -->
        <a
          target="_blank"
          href="/rss.xml"
          class="rss-link"
          aria-label="rss feed"
          title="RSS Feed"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
            ><path
              d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
            ></path><path
              d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
            ></path><circle cx="6" cy="18" r="2"></circle>
          </svg>
        </a>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Destaques</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Artigos recentes</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          Ver todos
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
lib/utils/getSortedPostslib/utils/slugify